.u-section-1 {background-image: url("images/dsczv.jpg"); background-position: 50% 50%; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-sheet-1 {min-height: 634px}
.u-section-1 .u-layout-wrap-1 {margin: 40px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 594px}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-line-1 {transform-origin: left center 0; width: 87px; height: 8px; margin: 105px auto 0 0}
.u-section-1 .u-text-1 {font-family: Righteous; font-size: 3rem; margin: 10px 0 0}
.u-section-1 .u-text-2 {letter-spacing: 1px; font-size: 1.25rem; font-style: italic; margin: 14px 0 0}
.u-section-1 .u-text-3 {margin: 23px 0 0}
.u-section-1 .u-btn-1 {font-weight: 700; border-style: none; text-transform: uppercase; background-image: none; margin: 23px auto 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 594px}
.u-section-1 .u-container-layout-2 {padding-right: 30px; padding-left: 30px}
.u-section-1 .u-image-1 {width: 474px; left: auto; object-position: 50% 0%; background-position: 50% 0%; right: 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 523px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 490px}
.u-section-1 .u-layout-cell-2 {min-height: 490px}
.u-section-1 .u-image-1 {height: 490px; margin-top: 0; margin-bottom: 0; width: auto; left: auto; bottom: auto; right: auto; top: auto} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 401px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-1 {font-size: 2.75rem}
.u-section-1 .u-layout-cell-2 {min-height: NaNpx}
.u-section-1 .u-image-1 {height: 335px; margin-top: -1px; margin-bottom: -1px; width: auto} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 301px}
.u-section-1 .u-container-layout-1 {padding-right: 50px; padding-left: 10px}
.u-section-1 .u-container-layout-2 {padding-right: 10px; padding-left: 10px}
.u-section-1 .u-image-1 {width: 439px; margin-right: auto; margin-left: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 832px}
.u-section-1 .u-layout-wrap-1 {margin-top: 0; width: 340px; margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-cell-1 {min-height: 594px}
.u-section-1 .u-container-layout-1 {padding-right: 10px}
.u-section-1 .u-line-1 {margin-top: 5px; margin-right: 233px}
.u-section-1 .u-layout-cell-2 {min-height: 200px}
.u-section-1 .u-image-1 {height: 244px; width: 290px; margin: -44px 0 0 auto} }.u-section-2 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 126px}
.u-section-2 .u-text-1 {text-transform: uppercase; font-weight: 700; font-size: 6rem; margin: 14px 803px 14px 0} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-right: 603px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-right: 383px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-right: 203px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 80px}
.u-section-2 .u-text-1 {font-size: 4.5rem; width: 239px; margin: 0 auto 1px} }.u-section-3 .u-sheet-1 {min-height: 710px}
.u-section-3 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 60px 0}
.u-section-3 .u-image-1 {min-height: 590px; pointer-events: auto; background-image: url("images/2592067831360removebgpreview.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-layout-cell-2 {min-height: 590px; pointer-events: auto}
.u-section-3 .u-container-layout-2 {padding: 30px 60px}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 1.875rem; margin: 0}
.u-section-3 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 481px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 486px}
.u-section-3 .u-layout-cell-2 {min-height: 486px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 367px}
.u-section-3 .u-image-1 {min-height: 372px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 653px}
.u-section-3 .u-image-1 {min-height: 558px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 446px}
.u-section-3 .u-image-1 {min-height: 351px}
.u-section-3 .u-layout-cell-2 {animation-duration: 1000ms} }.u-section-4 .u-sheet-1 {min-height: 710px}
.u-section-4 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 60px 0}
.u-section-4 .u-image-1 {min-height: 590px; pointer-events: auto; background-image: url("images/2592068291136removebgpreview.png"); background-position: 50% 50%}
.u-section-4 .u-container-layout-1 {padding: 30px 60px}
.u-section-4 .u-layout-cell-2 {min-height: 590px; pointer-events: auto}
.u-section-4 .u-container-layout-2 {padding: 30px 60px}
.u-section-4 .u-text-1 {font-weight: 700; font-size: 1.875rem; margin: 0}
.u-section-4 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 481px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 486px}
.u-section-4 .u-layout-cell-2 {min-height: 486px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 367px}
.u-section-4 .u-image-1 {min-height: 372px}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 653px}
.u-section-4 .u-image-1 {min-height: 558px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 446px}
.u-section-4 .u-image-1 {min-height: 351px}
.u-section-4 .u-layout-cell-2 {min-height: 471px} }.u-section-5 .u-sheet-1 {min-height: 710px}
.u-section-5 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 60px 0}
.u-section-5 .u-image-1 {min-height: 590px; pointer-events: auto; background-image: url("images/2592069284352removebgpreview.png"); background-position: 50% 50%}
.u-section-5 .u-container-layout-1 {padding: 30px 60px}
.u-section-5 .u-layout-cell-2 {min-height: 590px; pointer-events: auto}
.u-section-5 .u-container-layout-2 {padding: 30px 60px}
.u-section-5 .u-text-1 {font-weight: normal; font-size: 2.25rem; margin: 0}
.u-section-5 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 481px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {min-height: 486px}
.u-section-5 .u-layout-cell-2 {min-height: 486px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 367px}
.u-section-5 .u-image-1 {min-height: 372px}
.u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 653px}
.u-section-5 .u-image-1 {min-height: 558px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 446px}
.u-section-5 .u-image-1 {min-height: 351px}
.u-section-5 .u-layout-cell-2 {min-height: 221px}
.u-section-5 .u-text-1 {font-weight: 700; font-size: 1.875rem} }.u-section-6 .u-sheet-1 {min-height: 710px}
.u-section-6 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 60px 0}
.u-section-6 .u-image-1 {min-height: 590px; pointer-events: auto; background-image: url("images/201306051126275985removebgpreview.png"); background-position: 50% 50%}
.u-section-6 .u-container-layout-1 {padding: 30px 60px}
.u-section-6 .u-layout-cell-2 {min-height: 590px; pointer-events: auto}
.u-section-6 .u-container-layout-2 {padding: 30px 60px}
.u-section-6 .u-text-1 {font-weight: normal; font-size: 2.25rem; margin: 0}
.u-section-6 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 481px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-image-1 {min-height: 486px}
.u-section-6 .u-layout-cell-2 {min-height: 486px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 367px}
.u-section-6 .u-image-1 {min-height: 372px}
.u-section-6 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 653px}
.u-section-6 .u-image-1 {min-height: 558px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 902px}
.u-section-6 .u-layout-wrap-1 {margin-bottom: 20px; margin-right: initial; margin-left: initial}
.u-section-6 .u-image-1 {min-height: 351px}
.u-section-6 .u-layout-cell-2 {min-height: 221px}
.u-section-6 .u-text-1 {font-weight: 700; font-size: 1.875rem} }